<div class="row">
  <div class="col-md-3">
    <label>Ticket ID : </label>
    <%= inbox.ticket_id %>
  </div>
  <div class="col-md-3">
    <label>Status : </label>
    <%= inbox.status %>
  </div>
  <div class="col-md-3">
    <label>Category : </label>
    <%= inbox.category %>
  </div>
  <div class="col-md-3">
    <label>Date Created : </label>
    <%= inbox.created_at.strftime("%d %B %Y") %>
  </div>
</div>  

<label>Subject : </label>
<%= inbox.subject %>

<hr>

<label>Messages : </label>
<p><%= inbox.description %></p>

<% from_reply_form ||= nil %>
<% unless from_reply_form %>
<%= link_to 'Reply', admin_new_reply_path(inbox.id) %>
<% end %>