<div class="page-header">
  <h1>Message <small>from <%= @inbox.user.profile.nama_penuh %>. <%= link_to 'Back to Inbox', admin_inboxes_path, :class => 'btn btn-primary btn-xs' %></small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <label>Ticket ID : </label>
    <%= @inbox.ticket_id %>
  </div>
  <div class="col-md-3">
    <label>Status : </label>
    <%= @inbox.status %>
  </div>
  <div class="col-md-3">
    <label>Category : </label>
    <%= @inbox.category %>
  </div>
  <div class="col-md-3">
    <label>Date Created : </label>
    <%= @inbox.created_at.strftime("%d %B %Y") %>
  </div>
</div>  

<label>Subject : </label>
<%= @inbox.subject %>

<hr>

<label>Messages : </label>
<p><%= @inbox.description %></p>

<%= link_to "Reply", '', :class => 'btn btn-primary' %>