<div class="page-header">
  <h1>Message <small>from <%= @inbox.user.profile.nama_penuh %>. <%= link_to 'Back to Inbox', admin_inboxes_path, :class => 'btn btn-primary btn-xs' %></small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Ticket ID</label>
      <p class="form-control-static"><%= @inbox.ticket_id %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Status</label>
      <p class="form-control-static"><%= @inbox.status %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Category</label>
      <p class="form-control-static"><%= @inbox.category %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Date Created</label>
      <p class="form-control-static"><%= @inbox.created_at.strftime("%d %B %Y") %></p>
    </div>
  </div>
</div>  

<div class="form-group">
  <label>Subject</label>
  <p class="form-control-static"><%= @inbox.subject %></p>
</div>

<hr>

<div class="form-group">
  <label>Messages</label>
  <p class="form-control-static"><%= @inbox.description %></p>
</div>

<div class="form-group">
  <%= link_to "Reply", '', :class => 'btn btn-primary' %>
</div>