<div class="page-header">
  <h1>Order Details <small>Manage <%= @user.login %> order details here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Order List
          <%= link_to new_admin_user_order_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;", "data-toggle" => "tooltip", :title => "Add new order" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
    
        <div class="table-responsive">
          <table class="table table-bordered table-hover display" id="clientOrders">
            <thead>
              <tr>
                <th class="col-md-2">Order Number</th>
                <th class="col-md-2">Order Date</th>
                <th class="col-md-1">Programme</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td><%= order.try(:ref_number) %></td>
                <td><%= order.try(:ordered_date).strftime("%d %B %Y") %></td>
                <td><%= order.package.try(:package_name) %></td>

                <td>
                  <% if order.status.try(:status_name) == "Active" %>
                    <span class="label label-primary">
                      <%= order.status.try(:status_name) %>
                    </span>
                  <% elsif order.status.try(:status_name) == "Inactive" %>
                    <span class="label label-danger">
                      <%= order.status.try(:status_name) %>
                    </span>
                  <% elsif order.status.try(:status_name) == "Pending" %>
                    <span class="label label-warning">
                      <%= order.status.try(:status_name) %>
                    </span>
                  <% elsif order.status.try(:status_name) == "Buyback" %>
                    <span class="label label-info">
                      <%= order.status.try(:status_name) %>
                    </span>
                  <% else %>
                    <span class="label label-default">
                      <%= order.status.try(:status_name) %>
                    </span>
                  <% end %>
                </td>

                <td>
                  <div class="btn-group btn-group-xs btn-group-justified">
                  <%= link_to admin_user_order_path(id:order), :class => "btn btn-default", "data-toggle" => "tooltip", :title => "View this order" do %>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  <% end %>
                  <%= link_to edit_admin_user_order_path(id:order), :class => "btn btn-info", "data-toggle" => "tooltip", :title => "Edit this order" do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                  <%= link_to admin_user_order_path(id:order), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", "data-toggle" => "tooltip", :title => "Remove this order" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                  <% end %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
      <div class="panel-footer">
        <%= link_to "Back", admin_users_path, :class => "btn btn-default" %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready( function () {
  $('.display').DataTable({
    "aaSorting": []
  }).api();

  oTable = $('#clientOrders').DataTable();
});
</script>

