<div class="page-header">
  <h1>Order Details <small>View order <%= @order.ref_number %> for order for <%= @user.login %> here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to "Client Details", admin_user_path(@user.login), :class => 'list-group-item' %>
      <%= link_to "Order Details", admin_user_orders_path(@user.login), :class => 'list-group-item active' %>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>

  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order Details <small>for <%= @order.user.profile.nama_penuh %></small><%= link_to 'Edit', edit_admin_user_order_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;" %></h3>
      </div>
      <div class="panel-body">
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Quantity</label>
              <p><%= @order.gram_quantity %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Price per gram</label>
              <p><%= @order.price %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Discount</label>
              <p><%= @order.discount.discount_date %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Package</label>
              <p><%= @order.package.package_name %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Discount</label>
              <p><%= @order.discount.discount_date %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Status</label>
              <p><%= @order.status.status_name %></p>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', admin_user_orders_path, :class => "btn btn-default" %>
      </div>
    </div>

  </div>
</div>