<div class="page-header">
  <h1>Order Details <small>Manage your order details here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Order List
          <%= link_to new_order_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;", "data-toggle" => "tooltip", :title => "Add new order" do %>
          <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-bordered table-hover display" id="orderDetails">
            <thead>
              <tr>
                <th class="col-md-2">Order Number</th>
                <th class="col-md-2">Order Date</th>
                <th class="col-md-1">Programme</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td><%= order.ref_number %></td>
                <td><%= order.ordered_date.strftime("%d %B %Y") %></td>
                <td><%= order.package.package_name %></td>
                <td>
                  <% if order_active(order) %>
                    <span class="label label-primary">
                      <%= order.status.status_name %>
                    </span>
                  <% elsif order_inactive(order) %>
                    <span class="label label-danger">
                      <%= order.status.status_name %>
                    </span>
                  <% elsif order_pending(order) %>
                    <span class="label label-warning">
                      <%= order.status.status_name %>
                    </span>
                  <% elsif order_buyback(order) %>
                    <span class="label label-info">
                      <%= order.status.status_name %>
                    </span>
                  <% else %>
                    <span class="label label-default">
                      <%= order.status.status_name %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <div class="btn-group btn-group-xs btn-group-justified">
                  <%= link_to 'View', order_path(order), :class => "btn btn-default" %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready( function () {
  $('.display').DataTable({
    "aaSorting": []
  }).api();

  oTable = $('#orderDetails').DataTable();
});
</script>