<div class="page-header">
  <h1>Order Details <small>View order #<%= @order.ref_number %>.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to "Account Details", edit_user_registration_path, :class => 'list-group-item' %>
			<%= link_to "Client Details", account_path, :class => 'list-group-item' %>
			<%= link_to "Order Details", orders_path, :class => 'list-group-item active' %>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div>

  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order Details <%= link_to 'Edit', "", :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;" %></h3>
      </div>
      <div class="panel-body">
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Reference Number</label>
              <p><%= @order.ref_number %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Ordered Date</label>
              <p><%= @order.ordered_date.strftime("%d %B %Y") %></p>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Quantity</label>
              <p><%= @order.gram_quantity %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Price per gram</label>
              <p>RM <%= @order.price %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Discount</label>
              <p><%= @order.discount.discount_date %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Package</label>
              <p><%= @order.package.package_name %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Total Price</label>
              <p>RM <%= @order.total_price %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Status</label>
              <p>
              <% if @order.status.status_name == "Active" %>
								<span class="label label-primary">
									<%= @order.status.status_name %>
								</span>
							<% elsif @order.status.status_name == "Inactive" %>
								<span class="label label-danger">
									<%= @order.status.status_name %>
								</span>
							<% elsif @order.status.status_name == "Pending" %>
								<span class="label label-warning">
									<%= @order.status.status_name %>
								</span>
							<% elsif @order.status.status_name == "Buyback" %>
								<span class="label label-info">
									<%= @order.status.status_name %>
								</span>
							<% else %>
								<span class="label label-default">
									<%= @order.status.status_name %>
								</span>
							<% end %>
							</p>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= link_to 'Back', orders_path, :class => "btn btn-default" %>
      </div>
    </div>

  </div>
</div>