<div class="list-group">
  <%= link_to "Account Settings", edit_user_registration_path, :class => 'list-group-item' %>
  <%= link_to "Profile Details", account_path, :class => 'list-group-item' %>
  <%= link_to orders_path, :class => 'list-group-item' do %>
  <span class="badge"><%= Order.where(user_id: current_user).count %></span>
  Order Details
  <% end %>
  <%= link_to payments_path, :class => 'list-group-item active' do %>
  <span class="badge"><%= Payment.where(user_id: current_user).count %></span>
  Payment History
  <% end %>
  <%= link_to items_path, :class => 'list-group-item' do %>
  <span class="badge"><%= Item.where(user_id: current_user).count %></span>
  Item History
  <% end %>
  <%= link_to vouchers_path, :class => 'list-group-item' do %>
  <span class="badge"><%= Voucher.where(user_id: current_user).count %></span>
  Voucher History
  <% end %>
</div>