<div class="text-bg-classes">
  <p class="bg-info">Welcome <b><%= current_user.login.upcase %></b> to the admin dashboard.</p>
</div>

<div class="marketing row">
  <div class="col-md-4">
    <%= image_tag('Dude@2x.png', :alt => "View Message", :style => 'width: 140px; height: 140px;') %>
    <h2>Client</h2>
    <p class="small">Manage your client details, order details, payment details and voucher details.</p>
    <p><%= link_to "Manage Client", admin_users_path, :class => "btn btn-primary" %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag('Mail@2x.png', :alt => "View Message", :style => 'width: 140px; height: 140px;') %>
    <h2>Message</h2>
    <p class="small">Manage your mail message that has been sent to you from user side.</p>
    <p><%= link_to "Manage Message", admin_inboxes_path, :class => "btn btn-primary" %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag('Mail@2x.png', :alt => "Announcement", :style => 'width: 140px; height: 140px;') %>
    <h2>Announcement</h2>
    <p class="small">Send broadcast message to all client.</p>
    <p><%= link_to "Manage Announcement", admin_announcements_path, :class => "btn btn-primary" %></p>
  </div>
</div>

<hr>

<h3>Client Order Details</h3>
<p class="small"><%= link_to "Download CSV", admin_master_path(format: "csv"), class: "btn btn-info btn-xs" %></p>

<ul id="OrderDetails" class="nav nav-tabs nav-justified" role="tablist">
  <li class="active" role="presentation">
    <a data-toggle="tab" data-target="#active">View Active Order</a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" data-target="#pending">View Pending Order</a>
  </li>
</ul>

<div class="tab-content">
  <div id="active" class="tab-pane fade in active">
    <div class="table-responsive">
      <table class="table table-bordered table-hover display" id="ActiveOrder">
        <thead>
          <tr>
            <th class="col-md-2">Date</th>
            <th class="col-md-2">Order Number</th>
            <th class="col-md-4">Client Name</th>
            <th class="col-md-1">Programme</th>
            <th class="col-md-2">Total Price</th>
            <th class="col-md-1">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @active.each do |order| %>
          <tr>
            <td><%= order.ordered_date.strftime("%d %B %Y at %H:%M") %></td>
            <td><%= order.ref_number %></td>
            <td><%= order.user.profile.try(:nama_penuh) %> <small><%= link_to "View", admin_user_path(order.user.slug) %></small></td>
            <td><%= order.package.package_name %></td>
            <td>RM <%= order.total_price %></td>
            <td><span class="label label-primary"><%= order.status.status_name %></span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="pending" class="tab-pane fade in">
    <div class="table-responsive">
      <table class="table table-bordered table-hover display" id="PendingOrder">
        <thead>
          <tr>
            <th class="col-md-2">Date</th>
            <th class="col-md-2">Order Number</th>
            <th class="col-md-4">Client Name</th>
            <th class="col-md-1">Programme</th>
            <th class="col-md-2">Total Price</th>
            <th class="col-md-1">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @pending.each do |order| %>
          <tr>
            <td><%= order.ordered_date.strftime("%d %B %Y at %H:%M") %></td>
            <td><%= order.ref_number %></td>
            <td><%= order.user.profile.try(:nama_penuh) %> <small><%= link_to "View", admin_user_path(order.user.slug) %></small></td>
            <td><%= order.package.package_name %></td>
            <td>RM <%= order.total_price %></td>
            <td><span class="label label-warning"><%= order.status.status_name %></span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function visitorData (data) {
    $('#chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Performance Report (per week)'
        },
        xAxis: {
            type: "datetime",
            title: {
                text: "Date for 1 week"
            }
        },
        yAxis: {
            // min: 10,
            title: {
                text: 'Amount (MYR)'
            }
        },
        tooltip: {
          formatter: function(){
            return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + "<b>RM" + Highcharts.numberFormat(this.y, 2) + "</b>";
          }
        },
        series: [{
            name: 'Total Order',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Order.total_on(date).to_f }.inspect %>

        }, {
            name: 'Payment Received',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Payment.total_on(date).to_f }.inspect %>

        }, {
            name: 'Voucher Send',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Voucher.total_on(date).to_f }.inspect %>

        }]
    });
});
</script>

<script type="text/javascript">

var ready;
ready = function() {
  $('.display').DataTable({
    "aaSorting": [[0,'desc']]
  }).api();

  oTable = $('#ActiveOrder').DataTable();
  oTable2 = $('#PendingOrder').DataTable();
}
$(document).ready(ready);
$(document).on('page:load', ready);

</script>
