<div class="text-bg-classes">
  <p class="bg-info">Welcome <b><%= current_user.login.upcase %></b> to the admin dashboard.</p>
</div>

<div class="marketing row">
  <div class="col-md-4">
    <%= image_tag('Dude@2x.png', :alt => "View Message", :style => 'width: 140px; height: 140px;') %>
    <h2>Client</h2>
    <p class="small">Manage your client details, order details, payment details and voucher details.</p>
    <p><%= link_to "Manage Client", admin_users_path, :class => "btn btn-primary" %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag('Mail@2x.png', :alt => "View Message", :style => 'width: 140px; height: 140px;') %>
    <h2>Message</h2>
    <p class="small">Manage your mail message that has been sent to you from user side.</p>
    <p><%= link_to "Manage Message", admin_inboxes_path, :class => "btn btn-primary" %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag('support@2x.png', :alt => "View Message", :style => 'width: 140px; height: 140px;') %>
    <h2>Feedback</h2>
    <p class="small">Manage your feedback that has been sent to you from user side.</p>
    <p><%= link_to "Manage Feedback", '', :class => "btn btn-primary" %></p>
  </div>
</div>

<hr>

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function visitorData (data) {
    $('#chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Performance Report (per week)'
        },
        xAxis: {
            type: "datetime",
            title: {
                text: "Date for 1 week"
            }
        },
        yAxis: {
            // min: 10,
            title: {
                text: 'Amount (MYR)'
            }
        },
        tooltip: {
          formatter: function(){
            return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + "<b>RM" + Highcharts.numberFormat(this.y, 2) + "</b>";
          }
        },
        series: [{
            name: 'Total Order',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Order.total_on(date).to_f }.inspect %>

        }, {
            name: 'Payment Received',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Payment.total_on(date).to_f }.inspect %>

        }, {
            name: 'Voucher Send',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Voucher.total_on(date).to_f }.inspect %>

        }]
    });
});
</script>