<div class="alert alert-info" role="alert">
  <h5>Welcome <%= current_user.login.upcase %> to the admin dashboard.</h5>
  <p>Here you are able to manage your client details, order details, and track your client payment history. As addition, you can do anything as what you want.</p>
</div>

<%= link_to "Manage Client", admin_users_path, :class => "btn btn-primary btn-lg" %>

<hr>

<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6"></div>
</div>

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function visitorData (data) {
    $('#chart').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Performance Report (per week)'
        },
        xAxis: {
            type: "datetime",
            title: {
                text: "Date for 1 week"
            }
        },
        yAxis: {
            // min: 10,
            title: {
                text: 'Amount (MYR)'
            }
        },
        tooltip: {
          formatter: function(){
            return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + "<b>RM" + Highcharts.numberFormat(this.y, 2) + "</b>";
          }
        },
        series: [{
            name: 'Total Order',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Order.total_on(date).to_f }.inspect %>

        }, {
            name: 'Payment Received',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Payment.total_on(date).to_f }.inspect %>

        }, {
            name: 'Voucher Send',
            pointInterval: <%= 1.1.day * 1000 %>,
            pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
            data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Voucher.total_on(date).to_f }.inspect %>

        }]
    });
});
</script>