<div class="page-header">
  <h1>Client Details <small>Edit <%= @user.login %> details here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <%= form_for :user, url: admin_user_path(@user), method: :patch do |f| %>
  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Client Details <%= link_to 'Edit', edit_admin_user_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;" %></h3>
      </div>
      <div class="panel-body">

        <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong><%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:</strong>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
        <% end %>
    
        <div class="row">
        <%= f.fields_for :profile_attributes, @user.profile do |profile| %>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email address</label>
              <p><%= @user.email %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :nama_penuh, "Full Name" %><br>
              <%= profile.text_field :nama_penuh, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :ic_number, "IC Number" %><br>
              <%= profile.text_field :ic_number, :class => "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :tel_num, "Phone Number" %><br>
              <%= profile.text_field :tel_num, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :facebook_id, "Facebook ID" %><br>
              <%= profile.text_field :facebook_id, :class => "form-control" %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Parent Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Parents Details</h3>
      </div>
      <div class="panel-body">
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :nama_waris, "Nama Waris" %><br>
              <%= profile.text_field :nama_waris, :class => "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :hub_waris, "Hubungan Waris" %><br>
              <%= profile.text_field :hub_waris, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :tel_num_waris, "Phone Number Waris" %><br>
              <%= profile.text_field :tel_num_waris, :class => "form-control" %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Bank Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bank Details</h3>
      </div>
      <div class="panel-body">
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :nama_bank, "Bank Name" %><br>
              <%= profile.text_field :nama_bank, :class => "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :nama_akaun, "Account Name" %><br>
              <%= profile.text_field :nama_akaun, :class => "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= profile.label :no_akaun, "Account Number" %><br>
              <%= profile.text_field :no_akaun, :class => "form-control" %>
            </div>
          </div>
        </div>

        <% end %>

      </div>
      <div class="panel-footer">
        <div class="form-group">
          <%= f.submit "Save", :class => "btn btn-primary" %>
          <%= link_to 'Cancel', admin_user_path, :class => "btn btn-link" %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
