<div class="page-header">
  <h1>Client Details <small>Manage <%= @user.login %> account details here. <%= link_to 'Edit', edit_admin_user_path, :class => "btn btn-primary btn-xs", :style => "color:#ffffff;" %></small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <ul id="AccountDetails" class="nav nav-tabs nav-justified" role="tablist">
      <li class="active" role="presentation">
        <a data-toggle="tab" data-target="#profile">Profile Details</a>
      </li>
      <li role="presentation">
        <a data-toggle="tab" data-target="#heir">Heir Details</a>
      </li>
      <li role="presentation">
        <a data-toggle="tab" data-target="#bank">Bank Details</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="profile" class="tab-pane fade in active">
        <p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email address</label>
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Full Name</label>
                <p><%= @user.profile.try(:nama_penuh).blank? ? "N/A" : @user.profile.try(:nama_penuh) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 1</label>
                <p><%= @user.profile.try(:address1).blank? ? "N/A" : @user.profile.try(:address1) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 2</label>
                <p><%= @user.profile.try(:address2).blank? ? "N/A" : @user.profile.try(:address2) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <p><%= @user.profile.try(:city).blank? ? "N/A" : @user.profile.try(:city) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <p><%= @user.profile.try(:state).blank? ? "N/A" : @user.profile.try(:state) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Postcode</label>
                <p><%= @user.profile.try(:postcode).blank? ? "N/A" : @user.profile.try(:postcode) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <p><%= @user.profile.try(:country).blank? ? "N/A" : @user.profile.try(:country) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>IC Number</label>
                <p><%= @user.profile.try(:ic_number).blank? ? "N/A" : @user.profile.try(:ic_number) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone Number</label>
                <p><%= @user.profile.try(:tel_num).blank? ? "N/A" : @user.profile.try(:tel_num) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Facebook ID</label>
                <p><%= @user.profile.try(:facebook_id).blank? ? "N/A" : @user.profile.try(:facebook_id) %> <%= link_to "Open", "https://www.facebook.com/" + @user.profile.try(:facebook_id).to_s, :target => "_blank" %></p>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div id="heir" class="tab-pane fade">
        <p>
          <h4>FIRST HEIR</h4>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nama Waris</label>
                <p><%= @user.profile.try(:nama_waris).blank? ? "N/A" : @user.profile.try(:nama_waris) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Hubungan Waris</label>
                <p><%= @user.profile.try(:hub_waris).blank? ? "N/A" : @user.profile.try(:hub_waris) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 1</label>
                <p><%= @user.profile.try(:heir1_address1).blank? ? "N/A" : @user.profile.try(:heir1_address1) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 2</label>
                <p><%= @user.profile.try(:heir1_address2).blank? ? "N/A" : @user.profile.try(:heir1_address2) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <p><%= @user.profile.try(:heir1_city).blank? ? "N/A" : @user.profile.try(:heir1_city) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <p><%= @user.profile.try(:heir1_state).blank? ? "N/A" : @user.profile.try(:heir1_state) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Postcode</label>
                <p><%= @user.profile.try(:heir1_postcode).blank? ? "N/A" : @user.profile.try(:heir1_postcode) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <p><%= @user.profile.try(:heir1_country).blank? ? "N/A" : @user.profile.try(:heir1_country) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone Number</label>
                <p><%= @user.profile.try(:tel_num_waris).blank? ? "N/A" : @user.profile.try(:tel_num_waris) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>IC Number</label>
                <p><%= @user.profile.try(:ic_num_heir1).blank? ? "N/A" : @user.profile.try(:ic_num_heir1) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email Address</label>
                <p><%= @user.profile.try(:heir1_email).blank? ? "N/A" : @user.profile.try(:heir1_email) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Facebook ID</label>
                <p><%= @user.profile.try(:heir1_fb_id).blank? ? "N/A" : @user.profile.try(:heir1_fb_id) %> <%= link_to "Open", "https://www.facebook.com/" + @user.profile.try(:heir1_fb_id).to_s, :target => "_blank" %></p>
              </div>
            </div>
          </div>
          <h4>SECOND HEIR</h4>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nama Waris</label>
                <p><%= @user.profile.try(:heir2_name).blank? ? "N/A" : @user.profile.try(:heir2_name) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Hubungan Waris</label>
                <p><%= @user.profile.try(:heir2_rel).blank? ? "N/A" : @user.profile.try(:heir2_rel) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 1</label>
                <p><%= @user.profile.try(:heir2_address1).blank? ? "N/A" : @user.profile.try(:heir2_address1) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Address 2</label>
                <p><%= @user.profile.try(:heir2_address2).blank? ? "N/A" : @user.profile.try(:heir2_address2) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <p><%= @user.profile.try(:heir2_city).blank? ? "N/A" : @user.profile.try(:heir2_city) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>State</label>
                <p><%= @user.profile.try(:heir2_state).blank? ? "N/A" : @user.profile.try(:heir2_state) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Postcode</label>
                <p><%= @user.profile.try(:heir2_postcode).blank? ? "N/A" : @user.profile.try(:heir2_postcode) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <p><%= @user.profile.try(:heir2_country).blank? ? "N/A" : @user.profile.try(:heir2_country) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone Number</label>
                <p><%= @user.profile.try(:heir2_phone_num).blank? ? "N/A" : @user.profile.try(:heir2_phone_num) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>IC Number</label>
                <p><%= @user.profile.try(:ic_num_heir2).blank? ? "N/A" : @user.profile.try(:ic_num_heir2) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email Address</label>
                <p><%= @user.profile.try(:heir2_email).blank? ? "N/A" : @user.profile.try(:heir2_email) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Facebook ID</label>
                <p><%= @user.profile.try(:heir2_fb_id).blank? ? "N/A" : @user.profile.try(:heir2_fb_id) %> <%= link_to "Open", "https://www.facebook.com/" + @user.profile.try(:heir2_fb_id).to_s, :target => "_blank" %></p>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div id="bank" class="tab-pane fade">
        <p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank Name</label>
                <p><%= @user.profile.try(:nama_bank).blank? ? "N/A" : @user.profile.try(:nama_bank) %></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Account Name</label>
                <p><%= @user.profile.try(:nama_akaun).blank? ? "N/A" : @user.profile.try(:nama_akaun) %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Account Number</label>
                <p><%= @user.profile.try(:no_akaun).blank? ? "N/A" : @user.profile.try(:no_akaun) %></p>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>
