<div class="page-header">
  <h1>Client Details <small>Manage <%= @user.login %> account details here.</small></h1>
</div>

<div class="row">
	<div class="col-md-4">
    <%= render partial: "sidebar" %>
	</div>
	<div class="col-md-8">
		<!-- Client Details -->
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	Client Details
		    	<%= link_to edit_admin_user_path, :class => "pull-right btn btn-primary btn-xs", :style => "color:#ffffff;", "data-toggle" => "tooltip", :title => "Edit client detail" do %>
		    	<span class="glyphicon glyphicon-edit"></span>
		    	<% end %>
		    </h3>
		  </div>
		  <div class="panel-body">
		
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Email address</label>
					    <p><%= @user.email %></p>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Full Name</label>
					    <p><%= @user.profile.try(:nama_penuh).empty? ? "N/A" : @user.profile.try(:nama_penuh) %></p>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>IC Number</label>
					    <p><%= @user.profile.try(:ic_number).empty? ? "N/A" : @user.profile.try(:ic_number) %></p>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Phone Number</label>
					    <p><%= @user.profile.try(:tel_num).empty? ? "N/A" : @user.profile.try(:tel_num) %></p>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Facebook ID</label>
					    <p><%= @user.profile.try(:facebook_id).empty? ? "N/A" : @user.profile.try(:facebook_id) %> <%= link_to "Open", "https://www.facebook.com/" + @user.profile.try(:facebook_id), :target => "_blank" %></p>
					  </div>
					</div>
				</div>

		  </div>
		</div>
		<!-- Parent Details -->
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Parents Details</h3>
		  </div>
		  <div class="panel-body">
		
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Nama Waris</label>
					    <p><%= @user.profile.try(:nama_waris).empty? ? "N/A" : @user.profile.try(:nama_waris) %></p>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Hubungan Waris</label>
					    <p><%= @user.profile.try(:hub_waris).empty? ? "N/A" : @user.profile.try(:hub_waris) %></p>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Phone Number Waris</label>
					    <p><%= @user.profile.try(:tel_num_waris).empty? ? "N/A" : @user.profile.try(:tel_num_waris) %></p>
					  </div>
					</div>
				</div>

		  </div>
		</div>
		<!-- Bank Details -->
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Bank Details</h3>
		  </div>
		  <div class="panel-body">
		
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Bank Name</label>
					    <p><%= @user.profile.try(:nama_bank).empty? ? "N/A" : @user.profile.try(:nama_bank) %></p>
					  </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					    <label>Account Name</label>
					    <p><%= @user.profile.try(:nama_akaun).empty? ? "N/A" : @user.profile.try(:nama_akaun) %></p>
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
					    <label>Account Number</label>
					    <p><%= @user.profile.try(:no_akaun).empty? ? "N/A" : @user.profile.try(:no_akaun) %></p>
					  </div>
					</div>
				</div>

		  </div>
		  <div class="panel-footer">
		  	<%= link_to "Back", admin_users_path, :class => "btn btn-default" %>
		  </div>
		</div>

	</div>
</div>
