<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo-mfg.png', :alt => "MyFutureGold Resources", :height => "40px"), root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-offcanvas offcanvas">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
        <% if user_signed_in? %>
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-tasks"></span> Dashboard
          <% end %>
        </li>
        <% end %>
        <% if current_user.try(:admin) %>
        <li>
          <%= link_to admin_master_path do %>
            <span class="glyphicon glyphicon-briefcase"></span> Admin Section
          <% end %>
        </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Order <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Manage Order", orders_path %></li>
            <li><%= link_to "Add new order", new_order_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span> Payment <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Manage Payment", payments_path %></li>
            <li><%= link_to "Add new payment", new_payment_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to account_path, :class => 'inboxPop', "data-toggle" => "tooltip", :title => "#{Inbox.where(:unread => 'false').count} unread messages" do %>
            <span class="glyphicon glyphicon-inbox"></span> Notifications
            <% if Inbox.where(:unread => 'false').count == 0 %>
            <% else %>
            <span class="label label-danger"><%= Inbox.where(:unread => 'false').count %></span>
            <% end %>
          <% end %>
        </li>
        <li class="dropdown">
          <%= link_to account_path, :class => "dropdown-toggle", "data-toggle" => "dropdown", data: {no_turbolink: true} do %>
            <%= image_tag avatar_url(current_user), :class => "img-rounded" %> <%= current_user.login %><span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Manage Profile", account_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: "delete" do %>
              <span class="glyphicon glyphicon-log-out"></span> Logout
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
      <% else %>
      <div class="btn-group navbar-right">
        <%= link_to login_path, :class => "btn btn-default btn-sm navbar-btn" do %>
        <span class="glyphicon glyphicon-user"></span> Login
        <% end %>
        <%= link_to register_path, :class => "btn btn-primary btn-sm navbar-btn" do %>
        <span class="glyphicon glyphicon-lock"></span> CREATE NEW ACCOUNT
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">