<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gold Solution & Management Tracking System.">
  <meta name="keywords" content="tracking system, mfg, gold, manage gold, track gold order, system management, tracking management application, gold system, gold application, gold solution, gold currency, manage gold, manage order gold">
  <meta name="author" content="AmirolAhmad">
  <title>MFG | Gold Solution & Management Tracking System</title>

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="MFG | Gold Solution & Management Tracking System"/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="<%= image_url('logo.png') %>"/>
  <meta property="og:description" content="Gold Solution & Management Tracking System." />
  <meta property="og:site_name" content="Gold Solution & Management Tracking System."/>
  <link rel="canonical" href="<%= request.url %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.jpg' %>
  <!--[if lt IE 9]>
  <script src="<%= asset_path('html5shiv.js') %>"></script>
  <script src="<%= asset_path('respond.min.js') %>"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>" data-user="<%= h current_user.try(:to_json) %>">
	<%= render partial: "header" unless @disable_header %>
  
    <%= render 'layouts/messages' %>
    <%= yield %>
  
  <%= render partial: "footer" unless @disable_header %>

</body>
</html>
