<div class="page-header">
  <h1>Voucher History <small>Manage your voucher history here.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-md-8">
    <!-- Client Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Voucher History</h3>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-bordered table-hover display" id="voucherList">
            <thead>
              <tr>
                <th class="col-md-3">Receipt Number</th>
                <th class="col-md-3">Voucher Date</th>
                <th class="col-md-1">Programme</th>
                <th class="col-md-1">Total Voucher</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @vouchers.each do |voucher| %>
              <tr>
                <td><%= voucher.receipt_number %></td>
                <td><%= voucher.voucher_date %></td>
                <td><%= voucher.order.package.package_name %></td>
                <td>RM <%= voucher.total_payment %></td>
                <td>
                  <% if voucher.status == "Paid" %>
                  <span class="label label-primary">
                    <%= voucher.status %>
                  </span>
                  <% elsif voucher.status == "Cancel" %>
                  <span class="label label-default">
                    <%= voucher.status %>
                  </span>
                  <% else %>
                  <span class="label label-danger">
                    <%= voucher.status %>
                  </span>
                  <% end %>
                </td>
                <td>
                  <div class="btn-group btn-group-xs btn-group-justified">
                  <%= link_to 'View', voucher_path(voucher), :class => "btn btn-default" %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready( function () {
  $('.display').DataTable({
    "aaSorting": []
  }).api();

  oTable = $('#voucherList').DataTable();
});
</script>