<div class="page-header">
  <h1>Voucher Details <small>View voucher #<%= @voucher.receipt_number %>.</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "sidebar" %>
  </div>

  <div class="col-md-8">
    <!-- Payment Details -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order Voucher</h3>
      </div>
      <div class="panel-body">
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Receipt Number</label>
              <p><%= @voucher.receipt_number %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Date of Payment</label>
              <p><%= @voucher.voucher_date %></p>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>voucher Method</label>
              <p><%= @voucher.method %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
            	<label>Total voucher</label>
              <p>RM <%= @voucher.total_payment %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Voucher For (Order Ref Number)</label>
              <p>#<%= @voucher.order.ref_number %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Package Name</label>
              <p><%= @voucher.order.package.package_name %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            	<label>Voucher Status</label>
              <p>
                <% if @voucher.status == "Paid" %>
                <span class="label label-primary">
                  <%= @voucher.status %>
                </span>
                <% elsif @voucher.status == "Cancel" %>
                <span class="label label-default">
                  <%= @voucher.status %>
                </span>
                <% else %>
                <span class="label label-danger">
                  <%= @voucher.status %>
                </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= link_to "Download Invoice", voucher_path(@voucher.id, :format => "pdf"), :class => "btn btn-primary", :target => "_blank" %>
        <%= link_to 'Back', vouchers_path, :class => "btn btn-default" %>
      </div>
    </div>

  </div>
</div>